.last{
    height: 92vh;
    background-color: #495e57;
}
.logos{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top:  6rem;
}
.logo{
    height: 14rem;
}
.cont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.butn{
    display: flex;
    justify-content: center;
    align-content: center;
}
.links{
    background-color: #ecdda1;
    display: flex;
    justify-content: center;
    height: 5rem;
    width: 15rem;
    align-items: center;
    border-radius: 50px 50px;
    text-decoration: none;
    color: #495e57;
    font-weight: bold;
    font-size: 25px;
    margin: 2rem;
}
.links:hover{
    background-color: #495e57;
    color: #ecdda1;
}
