*{
    box-sizing: border-box;
}
.start{
    height: calc(100vh - 5 REM);
}
body{
    margin: 0;
}
.start{
    padding: 2rem;
}
h1{
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: #ecdda1;
}
h2, p{
    display: flex;
    /* width: 30rem; */
    color: white;
}
h2{
    font-size: 30px;
}
.links{
    background-color: #ecdda1;
    display: flex;
    justify-content: center;
    height: 5rem;
    width: 15rem;
    align-items: center;
    border-radius: 50px 50px;
    text-decoration: none;
    color: #495e57;
    font-weight: bold;
    font-size: 25px;
    margin: 2rem;
}
.links:hover{
    background-color: #495e57;
    color: #ecdda1;
}
Card{
    background-color: #ecdda1;
    display: block;
    justify-content: center;
}
.allc{
    display: flex;
    justify-content: center;
    gap: 2rem;
}